@import '~antd/dist/antd.css';

.ant-message {
    z-index: 9099;
}


div div ul {
    list-style-type:none;
    display: inline;
    
}
div div ul li {
    display: inline;
}

.react-swipeable-view-container ul li button{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    height: 100%;
    width: 30px;
    background-size:72% 72%;
    -o-background-size: 72% 72%;
    -webkit-background-size: 72% 72%;
    background-size:cover;
    background-repeat: no-repeat;
    margin: 1px;
    font-size:0;
    color: #FFFFFF;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    cursor: pointer;
    background-color: transparent;
}


.react-swipeable-view-container ul li:first-child button{
    background-image: url(/redo-arrow.svg);
}


.react-swipeable-view-container ul li:nth-child(2) button{
    background-image: url(/undo-arrow.svg);
}

.react-swipeable-view-container ul li:last-child button{
    background-image: url(/save.svg);
}